.config/scripts/ping_websites.sh
.config/scripts/replace-configs.sh
.config/i3status-rust/monitor1.toml
.config/i3status-rust/monitor2.toml
.config/yazi/theme.toml
.zshrc
.config/gtk-3.0/bookmarks
.config/i3/config
.stow-local-ignore
.stfolder

